# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.

In [1]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table, Column, Integer, String, DateTime, ForeignKey, inspect
from sqlalchemy.orm import sessionmaker

In [2]:
def create_connection():
    load_dotenv()


    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3307')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    engine = create_engine(
        connection_string,
        pool_size=1,
        max_overflow=20,
        pool_pre_ping=True,
        echo=False
    )

    return engine

engine = create_connection()
print(engine)

Engine(mysql+pymysql://root:***@localhost:3307/classicmodels)

## –ó–∞–≤–¥–∞–Ω–Ω—è
### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)
**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞ –∑–∞ –π–æ–≥–æ –Ω–æ–º–µ—Ä–æ–º** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ)

–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ, —è–∫—â–æ –≤–∞–º —Ö–æ—á–µ—Ç—å—Å—è –±—ñ–ª—å—à–µ –ø—Ä–∞–∫—Ç–∏–∫–∏:
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä. –ù–µ –∑–∞–±—É–¥—å—Ç–µ –Ω–∞ –ø–æ—á–∞—Ç–∫—É –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç –∑ —Ç–∞–∫–∏–º –Ω–æ–º–µ—Ä–æ–º –≤ –±–∞–∑—ñ - —Ü–µ —Ö–æ—Ä–æ—à–∞ –ø—Ä–∞–∫—Ç–∏–∫–∞.

–û—Ç—Ä–∏–º–∞—Ç–∏ –≤—Å—ñ –∫–æ–ª–æ–Ω–∫–∏, —è–∫—ñ —ñ—Å–Ω—É—é—Ç—å –≤ —Ç–∞–±–ª–∏—Ü—ñ –≤–∏ –º–æ–∂–µ—Ç–µ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –∑–∞–ø–∏—Ç–æ–º
```
  SELECT COLUMN_NAME, DATA_TYPE
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'customers'
```

In [3]:
query = text("""
  SELECT COLUMN_NAME, DATA_TYPE
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'customers';
"""
)
df = pd.read_sql(query, engine)
display(df)

               COLUMN_NAME DATA_TYPE
0           customerNumber       int
1             customerName   varchar
2          contactLastName   varchar
3         contactFirstName   varchar
4                    phone   varchar
5             addressLine1   varchar
6             addressLine2   varchar
7                     city   varchar
8                    state   varchar
9               postalCode   varchar
10                 country   varchar
11  salesRepEmployeeNumber       int
12             creditLimit   decimal

In [4]:
metadata = MetaData()

client_contact_log = Table(
    "client_contact_log",
    metadata,
    Column("customerNumber", Integer, primary_key=True),
    Column("contactType", String(50), nullable=False),
    Column("oldValue", String(255)),
    Column("newValue", String(255), nullable=False),
    Column("changeDate", DateTime, default=datetime.datetime.utcnow, nullable=False),
)

# –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —ñ—Å–Ω—É–≤–∞–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—ñ
inspector = inspect(engine)
if "client_contact_log" not in inspector.get_table_names():
    metadata.create_all(engine)
    print("‚úÖ –¢–∞–±–ª–∏—Ü—è client_contact_log —Å—Ç–≤–æ—Ä–µ–Ω–∞ (–∫–ª—é—á = customerNumber)")
else:
    print("‚ÑπÔ∏è –¢–∞–±–ª–∏—Ü—è client_contact_log –≤–∂–µ —ñ—Å–Ω—É—î")

‚ÑπÔ∏è –¢–∞–±–ª–∏—Ü—è client_contact_log –≤–∂–µ —ñ—Å–Ω—É—î

In [5]:
def update_customer_contact_with_transaction(engine, customerNumber, newPhone=None, newEmail=None):
    if newPhone is None and newEmail is None:
        raise ValueError("–¢—Ä–µ–±–∞ –≤–∫–∞–∑–∞—Ç–∏ —Ö–æ—á–∞ –± –æ–¥–Ω–µ –ø–æ–ª–µ –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è (phone –∞–±–æ email)")

    """
    –û–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞:
    - —Ç–µ–ª–µ—Ñ–æ–Ω –∑–∞–≤–∂–¥–∏
    - email —Ç—ñ–ª—å–∫–∏ —è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î
    - –ª–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω —É client_contact_log
    """

    # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —ñ—Å–Ω—É–≤–∞–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç–∞
    check_query = text("""
        SELECT customerNumber, customerName, contactFirstName, contactLastName, phone
        FROM customers
        WHERE customerNumber = :customerNumber
    """)

    with engine.connect() as conn:
        result = conn.execute(check_query, {'customerNumber': customerNumber})
        client = result.fetchone()

        if not client:
            print(f"‚ùå –ö–ª—ñ—î–Ω—Ç {customerNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
            return False

        name = client[1]
        print(f"üë§ –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è {name} (customerNumber: {customerNumber})")

    # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ —î –∫–æ–ª–æ–Ω–∫–∞ email —É —Ç–∞–±–ª–∏—Ü—ñ customers
    inspector = inspect(engine)
    columns = [col['name'] for col in inspector.get_columns('customers')]
    has_email = 'email' in columns

    # –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è
    with engine.connect() as conn:
        with conn.begin():
            try:
                today = datetime.datetime.now()

                # 1. –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É
                if newPhone:
                    update_phone_query = text("""
                        UPDATE customers
                        SET phone = :phone
                        WHERE customerNumber = :customerNumber
                    """)
                    conn.execute(update_phone_query, {'phone': newPhone, 'customerNumber': customerNumber})
                    print(f"‚úÖ –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ {newPhone}")

                    # –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω–∏ —Ç–µ–ª–µ—Ñ–æ–Ω—É
                    log_phone_query = text("""
                        INSERT INTO client_contact_log (customerNumber, contactType, oldValue, newValue, changeDate)
                        VALUES (:customerNumber, 'phone', :oldValue, :newValue, :changeDate)
                        ON DUPLICATE KEY UPDATE
                        oldValue = VALUES(oldValue),
                        newValue = VALUES(newValue),
                        changeDate = VALUES(changeDate)
                    """)
                    
                    conn.execute(log_phone_query, {
                        'customerNumber': customerNumber,
                        'oldValue': client[4],
                        'newValue': newPhone,
                        'changeDate': today
                    })


                # 2. –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î)
                if newEmail is not None:
                    if has_email:
                        update_email_query = text("""
                            UPDATE customers
                            SET email = :email
                            WHERE customerNumber = :customerNumber
                        """)
                        conn.execute(update_email_query, {'email': newEmail, 'customerNumber': customerNumber})
                        print(f"‚úÖ Email –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ {newEmail}")

                        # –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω–∏ email
                        log_email_query = text("""
                            INSERT INTO client_contact_log (customerNumber, contactType, oldValue, newValue, changeDate)
                            VALUES (:customerNumber, 'email', NULL, :newValue, :changeDate)
                            ON DUPLICATE KEY UPDATE
                            newValue = VALUES(newValue),
                            changeDate = VALUES(changeDate)
                        """)
                        
                        conn.execute(log_email_query, {
                            'customerNumber': customerNumber,
                            'newValue': newEmail,
                            'changeDate': today
                        })
                        
                    else:
                        print("‚ö†Ô∏è –ü–æ–ª–µ 'email' –≤—ñ–¥—Å—É—Ç–Ω—î —É —Ç–∞–±–ª–∏—Ü—ñ customers - –ø—Ä–æ–ø—É—Å–∫–∞—î–º–æ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è email")

                print("‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ —É—Å–ø—ñ—à–Ω–æ!")
                print(f"üéâ –ö–æ–Ω—Ç–∞–∫—Ç–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –∫–ª—ñ—î–Ω—Ç–∞ {name} –æ–Ω–æ–≤–ª–µ–Ω–∞")

                return True

            except Exception as e:
                print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ–Ω–æ–≤–ª–µ–Ω–Ω—ñ: {e}")
                print("üîÑ –í—Å—ñ –∑–º—ñ–Ω–∏ –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ —Å–∫–∞—Å–æ–≤–∞–Ω–æ (ROLLBACK)")
                return False

In [6]:
# –¢–µ—Å—Ç –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç–∞
customerNumber = 112
success = update_customer_contact_with_transaction(
    engine,
    customerNumber,
    newPhone="+380201234567",
    newEmail="new_email@example.com"
)

üë§ –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è Signal Gift Stores (customerNumber: 112)
‚úÖ –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ +380201234567
‚ö†Ô∏è –ü–æ–ª–µ 'email' –≤—ñ–¥—Å—É—Ç–Ω—î —É —Ç–∞–±–ª–∏—Ü—ñ customers - –ø—Ä–æ–ø—É—Å–∫–∞—î–º–æ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è email
‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ —É—Å–ø—ñ—à–Ω–æ!
üéâ –ö–æ–Ω—Ç–∞–∫—Ç–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –∫–ª—ñ—î–Ω—Ç–∞ Signal Gift Stores –æ–Ω–æ–≤–ª–µ–Ω–∞

In [7]:
# –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —Ç–æ–≥–æ, —â–æ –º—ñ—Å—Ç–∏—Ç—å—Å—è –≤ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ–π —Ç–∞–±–ª–∏—Ü—ñ –¥–ª—è –ª–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –∫–æ–Ω—Ç–∞–∫—Ç—ñ–≤
test_query = text("""
  SELECT *
  FROM client_contact_log;
"""
)
df_test = pd.read_sql(test_query, engine)
display(df_test)

,customerNumber,contactType,oldValue,newValue,changeDate
0,112,phone,+380931234567,+380201234567,2025-12-17 09:22:50

In [18]:
# –ü–µ—Ä–µ–≤—ñ—Ä—è—é –ª–æ–≥—ñ–∫—É: —á–∏ –∑–∞–≤–∂–¥–∏ –∑–±–µ—Ä—ñ–≥–∞—î—Ç—å—Å—è –æ—Å—Ç–∞–Ω–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è
# 1. –û–Ω–æ–≤–ª—é—é —Ç–µ–ª–µ—Ñ–æ–Ω
update_customer_contact_with_transaction(engine, 112, newPhone="+380501234567")

# 2. –û–Ω–æ–≤–ª—é—é —â–µ —Ä–∞–∑ —Ç–µ–ª–µ—Ñ–æ–Ω
update_customer_contact_with_transaction(engine, 112, newPhone="+380671234567")

# 3. –Ü —â–µ —Ä–∞–∑ –æ–Ω–æ–≤–ª—é—é —Ç–µ–ª–µ—Ñ–æ–Ω
update_customer_contact_with_transaction(engine, 112, newPhone="+380931234567")

üë§ –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è Signal Gift Stores (customerNumber: 112)
‚úÖ –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ +380501234567
‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ —É—Å–ø—ñ—à–Ω–æ!
üéâ –ö–æ–Ω—Ç–∞–∫—Ç–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –∫–ª—ñ—î–Ω—Ç–∞ Signal Gift Stores –æ–Ω–æ–≤–ª–µ–Ω–∞
üë§ –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è Signal Gift Stores (customerNumber: 112)
‚úÖ –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ +380671234567
‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ —É—Å–ø—ñ—à–Ω–æ!
üéâ –ö–æ–Ω—Ç–∞–∫—Ç–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –∫–ª—ñ—î–Ω—Ç–∞ Signal Gift Stores –æ–Ω–æ–≤–ª–µ–Ω–∞
üë§ –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è Signal Gift Stores (customerNumber: 112)
‚úÖ –¢–µ–ª–µ—Ñ–æ–Ω –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ +380931234567
‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ —É—Å–ø—ñ—à–Ω–æ!
üéâ –ö–æ–Ω—Ç–∞–∫—Ç–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –∫–ª—ñ—î–Ω—Ç–∞ Signal Gift Stores –æ–Ω–æ–≤–ª–µ–Ω–∞

True

In [19]:
# –ü–µ—Ä–µ–≤—ñ—Ä—è—é —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ —Ç–∞–±–ª–∏—Ü—ñ client_contact_log
test_query = text("SELECT * FROM client_contact_log WHERE customerNumber = 112;")
df_test = pd.read_sql(test_query, engine)
display(df_test)

# –ü–µ—Ä–µ–≤—ñ—Ä—è—é –∑–º—ñ–Ω–∏ –≤ —Ç–∞–±–ª–∏—Ü—ñ customers
test_query1 = text("SELECT customerNumber, customerName, contactLastName, contactFirstName, phone FROM customers WHERE customerNumber = 112;")
df_test1 = pd.read_sql(test_query1, engine)
display(df_test1)

,customerNumber,contactType,oldValue,newValue,changeDate
0,112,phone,+380671234567,+380931234567,2025-12-17 10:03:40

,customerNumber,customerName,contactLastName,contactFirstName,phone
0,112,Signal Gift Stores,King,Jean,+380931234567

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [16]:
# –î–∞–Ω—ñ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—é orders  
new_order = {
    "orderNumber": 10575,
    "orderDate": "2005-06-02",
    "requiredDate": "2005-06-08",
    "status": "In Process",
    "customerNumber": 112
}

# –î–∞–Ω—ñ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—é orderdetails  
order_items = [
    {"productCode": "S24_3856", "quantity": 50, "priceEach": 98.3},
    {"productCode": "S24_2022", "quantity": 30, "priceEach": 20.61}
]

In [12]:
def create_order(new_order, order_items):
    # –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è
    with engine.begin() as conn:

        # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —á–∏ —ñ—Å–Ω—É—î —Ç–∞–∫–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
        check_order_query = text("""
            SELECT orderNumber, orderDate, status
            FROM orders
            WHERE orderNumber = :orderNumber
        """)
        
        result = conn.execute(check_order_query, {"orderNumber": new_order["orderNumber"]})
        existing_order = result.fetchone()

        if existing_order:
            print(f"‚ö†Ô∏è –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è {new_order['orderNumber']} –≤–∂–µ —ñ—Å–Ω—É—î. –°—Ç–≤–æ—Ä–µ–Ω–Ω—è —Å–∫–∞—Å–æ–≤–∞–Ω–æ.")
            return  

        # –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ orders
        conn.execute(
            text("""
                INSERT INTO orders (orderNumber, orderDate, requiredDate, status, customerNumber)
                VALUES (:orderNumber, :orderDate, :requiredDate, :status, :customerNumber)
            """),
            new_order
        )
        print("‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è —Å—Ç–≤–æ—Ä–µ–Ω–µ!")

        # –û–±—Ä–æ–±–∫–∞ –∫–æ–∂–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä—É –∑ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
        for item in order_items:

            # 1. –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –∑–∞–ª–∏—à–∫—É
            stock = conn.execute(
                text("""
                    SELECT quantityInStock
                    FROM products
                    WHERE productCode = :productCode
                    FOR UPDATE
                """),
                {"productCode": item["productCode"]}
            ).scalar()

            if stock < item["quantity"]:
                raise ValueError(
                    f"‚ö†Ô∏è –ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É {item['productCode']} –Ω–∞ —Å–∫–ª–∞–¥—ñ"
                )

            # 2. –ù–∞—Å—Ç—É–ø–Ω–∏–π orderLineNumber
            next_line_number = conn.execute(
                text("""
                    SELECT COALESCE(MAX(orderLineNumber), 0) + 1
                    FROM orderdetails
                    WHERE orderNumber = :orderNumber
                """),
                {"orderNumber": new_order["orderNumber"]}
            ).scalar()

            # 3. –î–æ–¥–∞—é –ø–æ–∑–∏—Ü—ñ—é –¥–æ orderdetails
            conn.execute(
                text("""
                    INSERT INTO orderdetails
                    (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                    VALUES
                    (:orderNumber, :productCode, :quantity, :priceEach, :orderLineNumber)
                """),
                {
                    "orderNumber": new_order["orderNumber"],
                    "productCode": item["productCode"],
                    "quantity": item["quantity"],
                    "priceEach": item["priceEach"],
                    "orderLineNumber": next_line_number
                }
            )

            # 4. –û–Ω–æ–≤–ª—é—é –∑–∞–ª–∏—à–æ–∫ —Ç–æ–≤–∞—Ä—É
            conn.execute(
                text("""
                    UPDATE products
                    SET quantityInStock = quantityInStock - :quantity
                    WHERE productCode = :productCode
                """),
                {
                    "quantity": item["quantity"],
                    "productCode": item["productCode"]
                }
            )
            print(f"‚úÖ –ó–∞–ª–∏—à–æ–∫ —Ç–æ–≤–∞—Ä—É {item['productCode']} –æ–Ω–æ–≤–ª–µ–Ω–æ!")

In [17]:
create_order(new_order, order_items)

# –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è, –ø–æ–∑–∏—Ü—ñ–π, –∑–∞–ª–∏—à–∫—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
test_order = text("""
        SELECT
            o.orderNumber,
            o.orderDate,
            o.requiredDate,
            o.status,
            od.productCode,
            od.quantityOrdered,
            od.priceEach,
            (od.quantityOrdered * od.priceEach) AS lineTotal,
            p.productName,
            p.quantityInStock
        FROM orders o
        JOIN orderdetails od ON o.orderNumber = od.orderNumber
        JOIN products p ON od.productCode = p.productCode
        WHERE o.orderNumber = :orderNumber
        ORDER BY od.orderLineNumber
    """)
df_test_order = pd.read_sql(test_order, engine, params={"orderNumber": new_order["orderNumber"]})
display(df_test_order)

‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è —Å—Ç–≤–æ—Ä–µ–Ω–µ!
‚úÖ –ó–∞–ª–∏—à–æ–∫ —Ç–æ–≤–∞—Ä—É S24_3856 –æ–Ω–æ–≤–ª–µ–Ω–æ!
‚úÖ –ó–∞–ª–∏—à–æ–∫ —Ç–æ–≤–∞—Ä—É S24_2022 –æ–Ω–æ–≤–ª–µ–Ω–æ!

,orderNumber,orderDate,requiredDate,status,productCode,quantityOrdered,priceEach,lineTotal,productName,quantityInStock
0,10575,2005-06-02,2005-06-08,In Process,S24_3856,50,98.30,4915.0,1956 Porsche 356A Coupe,6500
1,10575,2005-06-02,2005-06-08,In Process,S24_2022,30,20.61,618.3,1938 Cadillac V-16 Presidential Limousine,2787