# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df=data_path = 'D:/DATAS/Python/data/–ú–æ–¥—É–ª—å 10/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
df.groupby('Branch')['Total'].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [10]:
df.groupby(['Branch', 'City'])['Total'].agg(['sum', 'mean']).round(2)

                        sum    mean
Branch City
A      Yangon     106200.37  312.35
B      Mandalay   106197.67  319.87
C      Naypyitaw  110568.71  337.10

–£ —Ñ—ñ–ª—ñ–∞–ª—ñ –° –≤ –º—ñ—Å—Ç—ñ Naypyitaw –Ω–µ —Ç—ñ–ª—å–∫–∏ –Ω–∞–π–≤–∏—â–∏–π —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, –∞ —â–µ –π –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫, —â–æ –æ–∑–Ω–∞—á–∞—î:
* –ø–æ–∫—É–ø—Ü—ñ –≥–æ—Ç–æ–≤—ñ –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –∑–∞ –æ–¥–Ω—É –ø–æ–∫—É–ø–∫—É,
* –Ω–µ –ª–∏—à–µ –æ–∫—Ä–µ–º—ñ –ø–æ–∫—É–ø–∫–∏ –¥–æ—Ä–æ–≥—ñ, –∞–ª–µ –π –∑–∞–≥–∞–ª—å–Ω–∏–π –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤ –∑–Ω–∞—á–Ω–∏–π.
–¶–µ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ —Å—Ç—ñ–π–∫–∏–π –ø–æ–ø–∏—Ç —ñ –ø–æ—Ç–µ–Ω—Ü—ñ–∞–ª –¥–ª—è –ø–æ–¥–∞–ª—å—à–æ–≥–æ —Ä–æ–∑–≤–∏—Ç–∫—É, –∞ –æ—Ç–∂–µ –≤ —Ç–∞–∫–æ–º—É –º—ñ—Å—Ç—ñ —î —Å–µ–Ω—Å –¥–ª—è –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ –∑–º–µ–Ω—à–∏—Ç–∏ –Ω–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è –Ω–∞ —ñ—Å–Ω—É—é—á–∏–π –º–∞–≥–∞–∑–∏–Ω —Ç–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ —á–∞—Å—Ç–∫—É —Ä–∏–Ω–∫—É. –ê–ª–µ –≤–∞—Ä—Ç–æ –æ—Ü—ñ–Ω–∏—Ç–∏ –≥–µ–æ–≥—Ä–∞—Ñ—ñ—á–Ω–µ –ø–æ–ª–æ–∂–µ–Ω–Ω—è —ñ –æ—Ö–æ–ø–∏—Ç–∏ –Ω–æ–≤—ñ —Ä–∞–π–æ–Ω–∏ –º—ñ—Å—Ç–∞, –¥–µ –º–µ–Ω—à–∞ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ü—ñ—è —Ç–∞ —â–æ–± –Ω–µ –ø–µ—Ä–µ–±–∏—Ç–∏ –ø—Ä–æ–¥–∞–∂—ñ –≤ —ñ—Å–Ω—É—é—á–æ–º—É –º–∞–≥–∞–∑–∏–Ω—ñ.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [16]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [22]:
invoices_by_category[['Electronic accessories']].sort_values(by='Electronic accessories', ascending=False).head(1)

Product line  Electronic accessories
Branch
A                                 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

4. –Ø–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—ñ–≤ –º–∞—î –Ω–∞–π–Ω–∏–∂—á—ñ –ø—Ä–æ–¥–∞–∂—ñ —É –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ?

   –ì—ñ–ø–æ—Ç–µ–∑–∞: —É —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö —î –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —è–∫—ñ –º–∞–π–∂–µ –Ω–µ –∫—É–ø—É—é—Ç—å.

In [54]:
invoices_by_category = df.pivot_table(index='City', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
City,,,,,,
Mandalay,55,62,50,53,50,62
Naypyitaw,55,65,66,52,45,45
Yangon,60,51,58,47,65,59

In [60]:
def min_categories(row):
    min_val = row.min()
    return list(row[row == min_val].index)

min_cats = invoices_by_category.apply(min_categories, axis=1)

min_vals = invoices_by_category.min(axis=1)

result = pd.DataFrame({'City': min_cats.index, 'MinCategories': min_cats.values, 'MinSales': min_vals.values})
display(result.style.hide(axis="index"))

**–í–∏—Å–Ω–æ–≤–∫–∏:** –Ω–µ –º–æ–∂–Ω–∞ —Å–∫–∞–∑–∞—Ç–∏, —â–æ —ñ—Å–Ω—É—é—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —è–∫—ñ –≤–∑–∞–≥–∞–ª—ñ –Ω–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è, –∞–±–æ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è –∑ —Å–µ—Ä–π–æ–∑–Ω–∏–º –≤—ñ–¥—Ä–∏–≤–æ–º –≤—ñ–¥ —ñ–Ω—à–∏—Ö, —Ç–æ–∂ –≥—ñ–ø–æ—Ç–µ–∑–∞ –Ω–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏–ª–∞—Å—å. 
–ê–ª–µ –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫, —â–æ: 
- –≤ –º—ñ—Å—Ç—ñ **Mandalay** –Ω–∞–π–º–µ–Ω—à–µ –ø–æ–ø–∏—Ç—É –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó *Food and beverages* —Ç–∞ *Home and lifestyle*,
- –≤ –º—ñ—Å—Ç—ñ **Naypyitaw** –Ω–∞–π–º–µ–Ω—à—ñ –ø—Ä–æ–¥–∞–∂—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π *Home and lifestyle* —Ç–∞ *Sports and travel*,
- –≤ **Yangon** - *Health and beauty*. 

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:** –Ø–∫—â–æ —Ü—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Å—Ç–∞–±—ñ–ª—å–Ω–æ –º–∞—é—Ç—å –Ω–∏–∑—å–∫—ñ –ø—Ä–æ–¥–∞–∂—ñ, –º–æ–∂–Ω–∞ —Å–∫–æ—Ä–æ—Ç–∏—Ç–∏ —ó—Ö–Ω—ñ–π –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –¥–æ –º—ñ—Å—Ç–∞. –ó–∞–º—ñ—Å—Ç—å —Ü—å–æ–≥–æ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π, —è–∫—ñ –Ω–∞–π–µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—à–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è, —â–æ –¥–æ–ø–æ–º–æ–∂–µ –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ —Å–∫–ª–∞–¥—Å—å–∫—ñ –≤–∏—Ç—Ä–∞—Ç–∏ —Ç–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ –ø—Ä–∏–±—É—Ç–æ–∫.

5. –ß–∏ —î —Ä—ñ–∑–Ω–∏—Ü—è —É –∑–∞–≥–∞–ª—å–Ω–æ–º—É –ø—Ä–∏–±—É—Ç–∫—É, —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —á–µ–∫–æ–≤—ñ —Ç–∞ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –º—ñ–∂ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤: —É—á–∞—Å–Ω–∏–∫–∞–º–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ —á–∏ –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –ø–æ–∫—É–ø—Ü—è–º–∏, —è–∫—ñ –Ω–∏–º–∏ —â–µ –Ω–µ —î?

   –ì—ñ–ø–æ—Ç–µ–∑–∞: –∫–ª—ñ—î–Ω—Ç–∏, —è–∫—ñ —î —É—á–∞—Å–Ω–∏–∫–∞–º–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ, –±–æ –æ—Ç—Ä–∏–º—É—é—Ç—å –±–æ–Ω—É—Å–∏ —á–∏ –º–∞—é—Ç—å –∑–Ω–∏–∂–∫–∏, —â–æ —Å—Ç–∏–º—É–ª—é—é—Ç—å —ó—Ö –∫—É–ø—É–≤–∞—Ç–∏ —á–∞—Å—Ç—ñ—à–µ –∞–±–æ –Ω–∞ –±—ñ–ª—å—à—ñ —Å—É–º–∏.

In [63]:
df.groupby('Customer type')['Total'].sum()

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

In [68]:
summary_by_customer_type = df.groupby('Customer type').agg(Total_Sales=('Total', 'sum'), Avg_Bill=('Total', 'mean'), Invoice_Count=('Invoice ID', 'count')).round(2)
display(summary_by_customer_type)

               Total_Sales  Avg_Bill  Invoice_Count
Customer type
Member           164223.44    327.79            501
Normal           158743.30    318.12            499

**–í–∏—Å–Ω–æ–≤–∫–∏:** –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø—Ä–∞—Ü—é—î: —É—á–∞—Å–Ω–∏–∫–∏ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–µ –≥—Ä–æ—à–µ–π - –∑–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø–æ–∫—É–ø–æ–∫ —ñ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤–∏—â–∏–π —Å–∞–º–µ —É —Ç–∏–ø—É –ø–æ–∫—É–ø—Ü—ñ–≤ *Member*. –ü–æ–∫—É–ø—Ü—ñ —Ç–∏–ø—É *Normal* —Ä–æ–±–ª—è—Ç—å –±—ñ–ª—å—à–µ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π, –∞–ª–µ –Ω–∞ –º–µ–Ω—à—ñ —Å—É–º–∏, –±–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –º–∞–π–∂–µ —Ä—ñ–≤–Ω—ñ.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**
- –¥–ª—è *Member* - –∑–±—ñ–ª—å—à–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫: –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –∑–∞ —ñ—Å—Ç–æ—Ä—ñ—î—é –ø–æ–∫—É–ø–æ–∫, –µ–∫—Å–∫–ª—é–∑–∏–≤–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó, –ø—Ä–µ–º—ñ—É–º-—Ä—ñ–≤–Ω—ñ, –±–æ–Ω—É—Å–Ω—ñ –¥–Ω—ñ,
- –¥–ª—è *Normal* - –∞–∫—Ç–∏–≤–Ω—ñ—à–µ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é "welcome"-–±–æ–Ω—É—Å—ñ–≤, —Ç—Ä–∏–≥–µ—Ä–Ω–∏—Ö —Ä–æ–∑—Å–∏–ª–æ–∫, –∞–∫—Ü—ñ–π "–ø–æ–≤–µ—Ä–Ω–µ–Ω–Ω—è", –∞ —Ç–∞–∫–æ–∂ –∑—Ä–æ–±–∏—Ç–∏ –ª–µ–≥–∫—É —Ç–∞ —à–≤–∏–¥–∫—É —Ä–µ—î—Å—Ç—Ä–∞—Ü—ñ—é.

6. –•—Ç–æ –±—ñ–ª—å—à–µ –∫—É–ø–ª—è—î: —á–æ–ª–æ–≤—ñ–∫–∏ —á–∏ –∂—ñ–Ω–∫–∏? –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞–π–∫—Ä–∞—â–µ —ñ –Ω–∞–π–≥—ñ—Ä—à–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è —É –ø–æ–∫—É–ø—Ü—ñ–≤ –æ–±–æ—Ö —Å—Ç–∞—Ç–µ–π?

   –ì—ñ–ø–æ—Ç–µ–∑–∞: –ñ—ñ–Ω–∫–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –∑–∞–≥–∞–ª–æ–º, –∞–ª–µ —á–æ–ª–æ–≤—ñ–∫–∏ –º–∞—é—Ç—å –∑–Ω–∞—á–Ω–æ –≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫, —â–æ –≤–∏—Ä—ñ–≤–Ω—é—î —ó—Ö –≤–∏—Ç—Ä–∞—Ç–∏. –ü—Ä—ñ–æ—Ä–∏—Ç–µ—Ç–∏ –∂—ñ–Ω–æ–∫ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥—Ä—ñ–∑–Ω—è—é—Ç—å—Å—è –≤—ñ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤: –¥–ª—è –∂—ñ–Ω–æ–∫ –∫–ª—é—á–æ–≤–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è - "Health and beauty" –º–∞—Ç–∏–º–µ –Ω–∞–π–≤–∏—â—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–∂—ñ–≤, —Ç–æ–¥—ñ —è–∫ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ü–µ —Ñ—ñ–∫—Å—É–≤–∞—Ç–∏–º–µ—Ç—å—Å—è —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "Electronic accessories" –∞–±–æ "Sports and travel".

In [85]:
df.groupby('Gender')['Total'].agg(['sum', 'mean']).round(2)

              sum    mean
Gender
Female  167882.92  335.10
Male    155083.82  310.79

In [76]:
df.pivot_table(index='Gender', columns='Product line', values='Total', aggfunc='sum').round(2)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.02,30437.4,33170.92,18560.99,30036.88,28574.72
Male,27235.51,23868.5,22973.93,30632.75,23825.04,26548.11

**–í–∏—Å–Ω–æ–≤–∫–∏:** –∂—ñ–Ω–∫–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ (167‚ÄØ883 –ø—Ä–æ—Ç–∏ 155‚ÄØ084). –°–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞–∫–æ–∂ –±—ñ–ª—å—à–∏–π —É –∂—ñ–Ω–æ–∫, —â–æ —Å–ø—Ä–æ—Å—Ç–æ–≤—É—î –ø–æ–ø–µ—Ä–µ–¥–Ω—é –≥—ñ–ø–æ—Ç–µ–∑—É. –ü–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º:
- –∂—ñ–Ω–∫–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å *Food and beverages*, –Ω–∞–π–º–µ–Ω—à–µ ‚Äî *Health and beauty*.
- —á–æ–ª–æ–≤—ñ–∫–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å *Health and beauty*, –Ω–∞–π–º–µ–Ω—à–µ ‚Äî *Food and beverages*.
–¶–µ —Ü—ñ–∫–∞–≤–∞ –∑–∞–∫–æ–Ω–æ–º—ñ—Ä–Ω—ñ—Å—Ç—å: –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –º–∞—é—Ç—å –¥–∑–µ—Ä–∫–∞–ª—å–Ω—É –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å —É —Ä—ñ–∑–Ω–∏—Ö —Å—Ç–∞—Ç–µ–π, —Ç–æ–º—É –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó –º–∞—é—Ç—å –≤—Ä–∞—Ö–æ–≤—É–≤–∞—Ç–∏ —Ü—ñ –≥–µ–Ω–¥–µ—Ä–Ω—ñ –≤—ñ–¥–º—ñ–Ω–Ω–æ—Å—Ç—ñ.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**
1. –¢–∞—Ä–≥–µ—Ç–æ–≤–∞–Ω—ñ –∞–∫—Ü—ñ—ó:
- –¥–ª—è –∂—ñ–Ω–æ–∫ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó *Food and beverages* (–∑–Ω–∏–∂–∫–∏, –±–æ–Ω—É—Å–∏),
- –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ä–æ–±–∏—Ç–∏ –∞–∫—Ü–µ–Ω—Ç –Ω–∞ *Health and beauty* (–Ω–æ–≤–∏–Ω–∫–∏, –ø—Ä–µ–º—ñ—É–º‚Äë–ª—ñ–Ω—ñ–π–∫–∏, –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó).
2. –ê—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —ñ –≤–∏–∫–ª–∞–¥–∫–∞:
- –≤ –º–∞–≥–∞–∑–∏–Ω–∞—Ö, –¥–µ –±—ñ–ª—å—à—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∂—ñ–Ω–∫–∏, –≤–∞—Ä—Ç–æ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —ñ –ø–ª–æ—â—É –ø—ñ–¥ *Food and beverages*,
- –≤ –º–∞–≥–∞–∑–∏–Ω–∞—Ö —ñ–∑ –±—ñ–ª—å—à–æ—é —á–∞—Å—Ç–∫–æ—é —á–æ–ª–æ–≤—ñ–∫—ñ–≤ - –ø—ñ–¥ *Health and beauty*.
3. –ú–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∞ –∫–æ–º—É–Ω—ñ–∫–∞—Ü—ñ—è:
- –¥–ª—è –∂—ñ–Ω–æ–∫ - –∞–∫—Ü–µ–Ω—Ç –Ω–∞ —Å—ñ–º–µ–π–Ω—ñ—Å—Ç—å, –∫—É–ª—ñ–Ω–∞—Ä—ñ—é, –∑–¥–æ—Ä–æ–≤–µ —Ö–∞—Ä—á—É–≤–∞–Ω–Ω—è,
- –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ - –Ω–∞ –¥–æ–≥–ª—è–¥, —ñ–º—ñ–¥–∂, —Å—Ç–∏–ª—å.